<div class="page-header">
  <div class="contextual">
    <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-default"%>
  </div>
  <h1>Candidati</h1>
</div>
<div class="table-responsive">
  <table class="table table-hover table-bordered">
  <tr>
    <th class="info">Candidat</th>
    <th class="info">Specializare</th>
    <th class="info">Voturi</th>
  </tr>
  <% @nominees.each do |nomination| %>
    <tr>
      <td><%= nomination.nominee %></td>
      <td><%= nomination.specialty %></td>
      <td><%= nomination.votes %></td>
    </tr>
  <% end %>
  </table>
  <%= paginate @nominees %>
</div>
